pkgbase = php-swow
	pkgdesc = Swow coroutine IO extension for PHP
	pkgver = 1.5.0
	pkgrel = 0
	url = https://github.com/swow/swow
	arch = x86_64
	arch = arm64
	license = APACHE
	makedepends = php
	makedepends = php-legacy
	makedepends = postgresql-libs
	depends = glibc
	source = swow-1.5.0.tar.gz::https://github.com/swow/swow/archive/refs/tags/v1.5.0.tar.gz
	sha512sums = f940a6e116a36ab7066a45cf92ad8daea44052d38885a4c913c48daa8e3b76dff333fd2b1853a17dcb1bb5bc5758399d6c2e0e7b72f9a05c3614b1eff866c944

pkgname = php-swow
	depends = glibc
	depends = php
	provides = php-swow
	conflicts = php-swow
	backup = etc/php/conf.d/swow.ini

pkgname = php-legacy-swow
	depends = glibc
	depends = php-legacy
	provides = php-legacy-swow
	conflicts = php-legacy-swow
	backup = etc/php-legacy/conf.d/swow.ini
