pkgbase = php-swow
	pkgdesc = Swow coroutine IO extension for PHP
	pkgver = 1.6.0
	pkgrel = 0
	url = https://github.com/swow/swow
	arch = x86_64
	arch = arm64
	license = APACHE
	makedepends = php
	makedepends = php-legacy
	makedepends = postgresql-libs
	depends = glibc
	source = swow-1.6.0.tar.gz::https://github.com/swow/swow/archive/refs/tags/v1.6.0.tar.gz
	source = 0001-Fix_PQclosePrepared_weak_dep.patch::https://github.com/swow/swow/commit/bb348b9da8da1cd501c9d916be62806950092009.patch
	sha512sums = f92578675425fbf8fa15716e7ce858f5a61f03ee8fe7274e59078f05bc7a3842852267ae061e02c943d5776e04aff605c1dc8f404881e51661e96207fcfbbe8a
	sha512sums = d5e66be35877c1b76cdeaf4f2a5603c5a48de994952d9e9f6933014b025a24457800a4737003a7a509f963336903e08c3c74f42f9f6b61b54c2c55ac9198f698

pkgname = php-swow
	depends = glibc
	depends = php
	provides = php-swow
	conflicts = php-swow
	backup = etc/php/conf.d/swow.ini

pkgname = php-legacy-swow
	depends = glibc
	depends = php-legacy
	provides = php-legacy-swow
	conflicts = php-legacy-swow
	backup = etc/php-legacy/conf.d/swow.ini
